@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
  }

.nav-bar {
    color: #f5f4ee;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;
}

.links {
    padding: 16px 0px;
    color: #f5f4ee;
}

.logo-1,
.logo-2 {
    font-size: 28px;
    font-weight: 700;
    color:#f5f4ee;
}

.logo-2 {
    color: #713229;
}

.header {
    background: #957246;
}

.hero {
    display: flex;
    padding: 100px;
    align-items: center;
}

.hero-img {
    height: 300px;
    width: 400px;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.hero-second {
    color: rgba(229, 231, 235, 0.811);
    font-size: 18px;
}

.hero-left {
    width:620px;
    margin-right: 220px;
}

button {
    background: #8c422f;
    color: #f9faf8;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 10px;
}

.hero button {
    border: none;
}

.info-img {
    width: 200px;
    height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    height: 300px;
}

.info-head {
    color: #713229;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 52px;
}

.info-items {
    display: flex;
    justify-content: center;
    gap: 52px;
    justify-content: space-between;
    align-items: center;
}

.place {
    width: 150px;
}

.text {
    font-style: italic;
    color: #713229
}

.quote {
    background: #e3d3b8;
    color: #713229;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    padding: 100px 200px;
}

.quote figcaption {
    color: #713229;
    text-align: right;
    font-size: 18px;
    font-weight: none;
    font-weight: bold;
}

.call-to-act {
    background: #8c422f;
    font-size: 18px;
    color: #f9faf8;
    padding: 32px 64px;
    margin: 100px;
    border-radius: 10px;
    display: flex;
}

.call {
    font-weight: bold;
}

.call-text {
    width:620px;
    margin-right: 400px;
}

.call-to-act button {
    border: 2px solid #f9faf8;
}

.footer {
    background: #957246;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    padding: 32px;
}

